<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href="JS/controler.js">
<meta charset="utf-8">
<body>


<div ng-app="" ng-init="myCol=''" style="background-color: {{color1}};color:{{color2}};font-size: {{texto}}px">
<br>
<br>
<br>
<p>Elija un color para el fondo:</p>
<p><input type="color" ng-model="color1" value="{{color1}}"></p>
<p>Elija un color para la letra:</p>
<p><input type="color" ng-model="color2" value="{{color2}}"></p>
<p>Elija un color para el fondo de la caja de texto:</p>
<p><input type="color" ng-model="color3" value="{{color3}}"></p>
<p>Cambiar color de fondo:</p>
<p><input style="background-color:{{color3}};color:{{color2}}"  ></p>
<p>Cambiar color de letra:</p>
<input style="color:{{color2}}" >
<p>Cambiar tamaño de letra:</p>
<input type="number" ng-model="texto" style="font-size: {{texto}}px" >
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
</html>