<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="JS/controler1.js" type="text/javascript" ></script>
<meta charset="utf-8">
<body >

<!-- <div ng-app="colores" ng-controller="lista">
	<ul>
		<li ng-repeat="x in data">
			{{x}}
		</li>
	</ul>
</div>
 -->


<!-- <div ng-app="colores" ng-controller="lista2">
	<ul>
		<li ng-repeat="x in data2">
			{{x.nombre + ', ' + x.apellido}}
		</li>
	</ul>
</div> -->

<div ng-app="colores" ng-controller="lista3">
	<ul>
		<li ng-repeat="x in data3" >
			{{x.nombre + ', ' + x.edad}}
			 
		</li>
	</ul>
	<td>total: {{sumar()}}</td>
	<br>
	
	<td>mayor: {{maximo()}}</td>
	<br>
	<td>promedio: {{promedio()}}</td>
	<br>
	<td>menor: {{minimo()}}</td>
	<br>
	<td>numero de edad: {{doble()}}</td>
</div>


<!-- <div data-ng-app="" data-ng-init="cantidad=2;precio=5">
	Cantidad: <input type="number" ng-model="cantidad">
	Precio: <input type="number" ng-model="precio">
	<p><b>Suma:</b> {{cantidad + precio}}</p>
	<p><b>Resta:</b> {{cantidad - precio}}</p>
	<p><b>Multiplicacion:</b> {{cantidad * precio}}</p>
	<p><b>Division:</b> {{cantidad / precio}}</p>
</div> -->



<div  ng-init="myCol=''" style="background-color: {{color1}};color:{{color2}};font-size: {{texto}}px">
<br>
<br>
<br>
<p>Elija un color para el fondo:</p>
<p><input type="color" ng-model="color1" value="{{color1}}"></p>
<p>Elija un color para la letra:</p>
<p><input type="color" ng-model="color2" value="{{color2}}"></p>
<p>Elija un color para el fondo de la caja de texto:</p>
<p><input type="color" ng-model="color3" value="{{color3}}"></p>
<p>Cambiar color de fondo:</p>
<p><input style="background-color:{{color3}};color:{{color2}}"  ></p>
<p>Cambiar color de letra:</p>
<input style="color:{{color2}}" >
<p>Cambiar tamaño de letra:</p>
<input type="number" ng-model="texto" >
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- <div ng-app="colores" direct1>
	
</div> -->

</body>
</html>